= form_with(model: [resource, @comment || Comment.new], id: "new_comment_#{resource.name_id}", data: { type: :json }, local: false) do |form|
  .input-group.input-group-sm.mb-3
    = form.text_field :body, class: 'form-control', id: "comment_body_#{resource.name_id}"
    = form.submit 'Add comment', class: "btn btn-outline-primary btn-sm", id: "comment_body_#{resource.name_id}"
