= form_with url: search_path, class: 'd-flex', method: :get, local: true do |form|
    = form.search_field :query, class: 'form-control query', minlength: '3', placeholder: 'Search', type: 'search'
    = form.select :resource, ['All', 'Question', 'Answer', 'Comment', 'User'], {}, { class: 'form-control', style: 'border-radius: 0;' }
    = form.submit 'Search', class: 'form-control query_sub'
